# Task2: User Engagement Analysis

In [99]:
# import requiered python libraries

import pickle
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.io as pio
import plotly.express as px
import plotly.graph_objects as go  
import matplotlib.pyplot as plt
from IPython.display import Image
from sklearn import preprocessing
from sklearn.cluster import KMeans
from scipy.spatial.distance import cdist
from plotly.subplots import make_subplots
from sklearn.preprocessing import StandardScaler, normalize

In [100]:
import os
import sys
import warnings
warnings.filterwarnings('ignore')
sys.path.append('../scripts/')
from scripts.dataframe_outliers import *
import scripts.plots_file

In [101]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option("expand_frame_repr", False)
pd.set_option('display.float_format', '{:.2f}'.format)

In [102]:
# load and read the cleaned data
df_cleaned = pd.read_csv('../data/cleaned_Telecom_data.csv')
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149001 entries, 0 to 149000
Data columns (total 55 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      149001 non-null  int64
 1   Unnamed:_0                      149001 non-null  int64
 2   Bearer_Id                       149001 non-null  float64
 3   Start                           149001 non-null  object
 4   Start_ms                        149001 non-null  float64
 5   End                             149001 non-null  object
 6   End_ms                          149001 non-null  float64
 7   Dur._(ms)                       149001 non-null  float64
 8   IMSI                            149001 non-null  float64
 9   MSISDN_Number                   149001 non-null  float64
 10  IMEI                            149001 non-null  float64
 11  Last_Location_Name              149001 non-null  object
 12  Avg_RTT_DL_(ms)                 149001 non-null  float64
 13  Avg_RTT_UL_(ms)                 149001 non-null  float64
 14  Avg_Bearer_TP_DL_(kbps)         149001 non-null  float64
 15  Avg_Bearer_TP_UL_(kbps)         149001 non-null  float64
 16  DL_TP_<_50_Kbps_(%)             149001 non-null  float64
 17  50_Kbps_<_DL_TP_<_250_Kbps_(%)  149001 non-null  float64
 18  250_Kbps_<_DL_TP_<_1_Mbps_(%)   149001 non-null  float64
 19  DL_TP_>_1_Mbps_(%)              149001 non-null  float64
 20  UL_TP_<_10_Kbps_(%)             149001 non-null  float64
 21  10_Kbps_<_UL_TP_<_50_Kbps_(%)   149001 non-null  float64
 22  50_Kbps_<_UL_TP_<_300_Kbps_(%)  149001 non-null  float64
 23  UL_TP_>_300_Kbps_(%)            149001 non-null  float64
 24  Activity_Duration_DL_(ms)       149001 non-null  float64
 25  Activity_Duration_UL_(ms)       149001 non-null  float64
 26  Dur._(ms).1                     149001 non-null  float64
 27  Handset_Manufacturer            149001 non-null  object
 28  Handset_Type                    149001 non-null  object
 29  Nb_of_sec_with_Vol_DL_<_6250B   149001 non-null  float64
 30  Nb_of_sec_with_Vol_UL_<_1250B   149001 non-null  float64
 31  Social_Media_DL_(Bytes)         149001 non-null  float64
 32  Social_Media_UL_(Bytes)         149001 non-null  float64
 33  Google_DL_(Bytes)               149001 non-null  float64
 34  Google_UL_(Bytes)               149001 non-null  float64
 35  Email_DL_(Bytes)                149001 non-null  float64
 36  Email_UL_(Bytes)                149001 non-null  float64
 37  Youtube_DL_(Bytes)              149001 non-null  float64
 38  Youtube_UL_(Bytes)              149001 non-null  float64
 39  Netflix_DL_(Bytes)              149001 non-null  float64
 40  Netflix_UL_(Bytes)              149001 non-null  float64
 41  Gaming_DL_(Bytes)               149001 non-null  float64
 42  Gaming_UL_(Bytes)               149001 non-null  float64
 43  Other_DL_(Bytes)                149001 non-null  float64
 44  Other_UL_(Bytes)                149001 non-null  float64
 45  Total_UL_(Bytes)                149001 non-null  float64
 46  Total_DL_(Bytes)                149001 non-null  float64
 47  Social_Media_(Bytes)            149001 non-null  float64
 48  Google_(Bytes)                  149001 non-null  float64
 49  Youtube_(Bytes)                 149001 non-null  float64
 50  Netflix_(Bytes)                 149001 non-null  float64
 51  Gaming_(Bytes)                  149001 non-null  float64
 52  Email_(Bytes)                   149001 non-null  float64
 53  Other_(Bytes)                   149001 non-null  float64
 54  Total_Data_(Bytes)              149001 non-null  float64
dtypes: float64(48), int64(2), object(5)
memory usage: 62.5+ MB

In [103]:
#Aggregate the above metrics per customer id (MSISDN) and report the top 10 customers per engagement metric
df_user_engage =  df_cleaned[['MSISDN_Number', 'Bearer_Id', 'Dur._(ms)', 'Total_Data_(Bytes)']].copy().rename(columns={
    'Bearer_Id': 'Session_Frequency', 'MSISDN_Number':'Customer_Id', 'Dur._(ms)': 'Duration', 'Total_Data_(Bytes)': 'Total_Data_Volume'})

In [104]:
user_engage = df_user_engage.groupby('Customer_Id').agg({'Session_Frequency': 'count', 'Duration': 'sum', 'Total_Data_Volume': 'sum'})
user_engage.head(10)

                Session_Frequency  Duration  Total_Data_Volume
Customer_Id
33601001722.00                  1 116720.00       878690574.00
33601001754.00                  1 181230.00       156859643.00
33601002511.00                  1 134969.00       595966483.00
33601007832.00                  1  49878.00       422320698.00
33601008617.00                  2  37104.00      1457410944.00
33601010682.00                  2 253983.00       615217221.00
33601011634.00                  2 128360.00       654723066.00
33601011959.00                  1  86399.00       332660357.00
33601014694.00                  2 242249.00       990132189.00
33601020306.00                  1 124854.00       732463761.00